<app-cs-toolbar [showBackIcon]="true"></app-cs-toolbar>
<app-cs-headingbar heading="{{ pathToTitle }}"></app-cs-headingbar>
<div class="wrapper-body">
  <div class="container-alain">
    <div>
      <app-bs-heading
        class="name-alain"
        heading="{{ pathToName }}"
      ></app-bs-heading>
      <app-bs-text text="{{ pathToJob }}"></app-bs-text>
    </div>
    <button class="portrait" (click)="onChangePortrait()">
      <div class="wrapper-image">
        <img class="image" src="{{ src() + portrait() }}" alt="Image Alain" />
      </div>
    </button>
  </div>

  <div>
    <div class="wrapper-introduction">
      <app-bs-heading
        class="custom-answer-heading"
        heading="{{ pathToHeading }}"
      ></app-bs-heading>
      <app-bs-text text="{{ pathToDescription }}"></app-bs-text>
    </div>
  </div>
  <!-- Infos -->
  <div class="wrapper-infos">
    <div class="card">
      <span class="material-symbols-outlined"> location_on </span>
      <app-bs-text text="{{ pathToAdress }}"></app-bs-text>
    </div>

    <div class="card">
      <span class="material-symbols-outlined"> mail </span>
      <app-bs-text text="{{ pathToEmail }}"></app-bs-text>
    </div>

    <div class="card">
      <span class="material-symbols-outlined"> badge </span>
      <app-bs-link pathToLink="{{ pathToLink }}"></app-bs-link>
    </div>
  </div>
</div>
