<app-cs-toolbar [showBackIcon]="true"></app-cs-toolbar>
<app-cs-headingbar heading="{{ pathToTitle }}"></app-cs-headingbar>
<div class="container-alain">
  <div>
    <app-bs-heading heading="{{ pathToName }}"></app-bs-heading>
    <app-bs-text text="{{ pathToJob }}"></app-bs-text>
  </div>
  <img
    class="image"
    src="../../../../assets/contact-page/demo.png"
    alt="Image Alain"
  />
</div>
<div>
  <app-bs-heading heading="{{ pathToHeading }}"></app-bs-heading>
  <app-bs-text text="{{ pathToDescription }}"></app-bs-text>
</div>
<!-- Infos -->
<div>
  <div class="card">
    <img
      class="image"
      src="../../../../assets/contact-page/demo.png"
      alt="Image Alain"
    />
    <app-bs-text text="{{ pathToAdress }}"></app-bs-text>
  </div>
</div>
<div>
  <div class="card">
    <img
      class="image"
      src="../../../../assets/contact-page/demo.png"
      alt="Image Alain"
    />
    <app-bs-text text="{{ pathToEmail }}"></app-bs-text>
  </div>
</div>
<div>
  <div class="card">
    <img
      class="image"
      src="../../../../assets/contact-page/demo.png"
      alt="Image Alain"
    />
    <app-bs-link pathToLink="{{ pathToLink }}"></app-bs-link>
  </div>
</div>
