.root-container {
  height: 93dvh; 
  background-color: var(--red-bright); 
}

.hero-wrapper{
  height: 43dvh; 
  // background-color: yellow;
    padding-left: var(--padding-border);
    padding-right: var(--padding-border);
    display: flex;
   
    justify-content: center;

}


.heading-hot-topic-container {
  height: 7dvh;
  padding-left: var(--padding-border);
  padding-right: var(--padding-border);
  display: flex;
  align-items: center;
}

.title-hot-topic{
    color: var(--white);
}

.c-spacer {
    flex: 1 1 auto;
  }

.cards-hot-topic-container{
  height: 43dvh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-left: var(--padding-border);
    padding-right: var(--padding-border);
  
    gap: 2em;
    overflow-x: auto;
    // Hide Scrollbar
    scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE/Edge */
}

// Hide Scrollbar
.container-hot-topics-card::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}