.c-hero-image {
    height: 50vh;
    background-color: orange;
}

.container-title-button {
    background-color: beige;
    display: flex;
    align-items: center;
}

.c-spacer {
    flex: 1 1 auto;
  }

  .container-hot-topics{
    background-color: rgb(184, 184, 51);
    display: flex;
    overflow-x: auto;
    gap: 1rem;
}