<app-cs-toolbar [showMenuIcon]="true"></app-cs-toolbar>
<app-bs-spacer-container></app-bs-spacer-container>
<app-bs-rive
  width="390"
  height="270"
  src="assets/home-page/hero_image.riv"
  [stateMachines]="['State Machine 1']"
></app-bs-rive>
<app-bs-spacer-container></app-bs-spacer-container>
<div class="container-title-button">
  <app-bs-title title="{{ pathToTitleHotTopics }}" [isH1]="true"></app-bs-title>
  <span class="c-spacer"></span>
  <app-bs-button
    text="{{ pathToButtonAllTopics }}"
    [isLarge]="false"
  ></app-bs-button>
</div>
