<div class="root">
  <div class="wrapper-progress-bar">
    <app-bs-progress-bar
      progress="{{ currentProgress() }}"
    ></app-bs-progress-bar>
  </div>
  <div class="wrapper-content">
    <!-- Dynamic Content -->
    @for (obj of currentPageObjects; track obj.key) { @switch (obj.type) {
    <!-- Heading Component -->
    @case ('heading') {
    <app-bs-heading
      heading="{{ currentPathToPage() + '.' + obj.key }}"
    ></app-bs-heading>
    }
    <!-- Text Component -->
    @case ('text') {
    <div class="wrapper-text">
      <app-bs-text
        class="story-text"
        text="{{ currentPathToPage() + '.' + obj.key }}"
      ></app-bs-text>
    </div>
    <!-- Bullet Component -->
    } @case ('bullets') {
    <app-bs-bullets
      pathToBullets="{{ currentPathToPage() + '.' + obj.key }}"
    ></app-bs-bullets>
    <!-- Rive Component -->
    } @case ('rive') {
    <div class="wrapper-rive">
      <!-- <app-bs-rive
        size="{{ obj.value.size }}"
        src="{{ obj.value.src }}"
        [stateMachines]="['State Machine 1']"
      ></app-bs-rive> -->
    </div>
    <!-- Rive Text -->
    } @case ('rive-text') {
    <app-bs-rive-text
      src="{{ obj.value.src }}"
      text="{{ obj.value.text }}"
    ></app-bs-rive-text>

    <!-- Term -->
    } @case ('term') {
    <div class="wrapper-term">
      <app-bs-term
        text_before="{{ obj.value.bs_text_before }}"
        text_after="{{ obj.value.bs_text_after }}"
        term="{{ obj.value.term }}"
        description="{{ obj.value.description }}"
      ></app-bs-term>
    </div>
    <!-- Link Component -->
    } @case ('link') {
    <app-bs-link
      pathToLink="{{ `${currentPathToPage()}.${obj.key}`}}"
    ></app-bs-link>
    } }}
  </div>
  <div class="wrapper-buttons">
    <!-- Default Buttons -->
    @if(!hasCustomButton()){ @if(currentPage() > 0) {
    <div class="wrapper-button-left">
      <app-bs-button
        class="grey"
        text="{{ pathToButtonBackwards() }}"
        [isLarge]="true"
        (click)="previousPage()"
      ></app-bs-button>
    </div>
    }
    <div class="wrapper-button-right">
      <app-bs-button
        class="green"
        text="{{ pathToButtonForward() }}"
        [isLarge]="true"
        (click)="nextPage()"
      ></app-bs-button>
    </div>
    }

    <!-- End Story Button Last Page -->
    @if(hasCustomButton() && isLastPage()){
    <app-bs-button
      class="green"
      textAbove="{{
        this.pagesArray[this.currentPage()].value.bs_buttons_custom.bs_button_1
          .button_text_above_1
      }}"
      text="{{
        this.pagesArray[this.currentPage()].value.bs_buttons_custom.bs_button_1
          .button_text_inside_1
      }}"
      [activatedRouterlink]="true"
      customRouterLink=".."
      [isLarge]="true"
      (click)="nextPage()"
    ></app-bs-button
    >}

    <!-- Custom Buttons  -->
    @if(hasCustomButton() && !isLastPage()){
    <div class="wrapper-custom-button">
      <app-bs-button
        class="green"
        textAbove="{{
          this.pagesArray[this.currentPage()].value.bs_buttons_custom
            .bs_button_1.button_text_above_1
        }}"
        text="{{
          this.pagesArray[this.currentPage()].value.bs_buttons_custom
            .bs_button_1.button_text_inside_1
        }}"
        [isLarge]="true"
        (click)="nextPage()"
      ></app-bs-button>
    </div>
    }
  </div>
  <div class="footer-spacer-container"></div>
</div>
