.container-card {
    background-color: var(--grey);
    padding: 1rem;
    box-shadow: var(--shadow) var(--grey); 
    border-radius: var(--border-radius);
}

.container-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10dvh;
    padding-bottom: 0.5rem;
}

.logo {
    max-height: 50px;
    max-width: 90px;
    padding-left: 1rem;
}

.wrapper-link {
    height: 7dvh;
    display: flex;
    align-items: center;
}