

.c-toolbar {
  height: 7dvh;
  height: 7vh;
  background-color: var(--red-dark);
  padding-right: var(--padding-border);
  padding-left: var(--padding-border);
}

.c-spacer {
  flex: 1 1 auto;
}

.c-icon-button{
  color: var(--red-icons);
}

// Language
a {
  color: var(--red-icons);
  text-decoration: none; 
  font-size: var(--font-size-text);
}
  
.divider {
  color: var(--red-icons);
  font-size: var(--font-size-text);
  padding-left: 3px;
  padding-right: 3px;
}
  