<a [routerLink]="['/topic', urlId()]">
  <div class="container-card">
    <div class="rive-wrapper">
      <app-bs-rive
        size="Topic"
        src="assets/home-page/topic.riv"
        [stateMachines]="['State Machine 1']"
      ></app-bs-rive>
    </div>
    <div class="container-card-text">
      <app-bs-title
        class="title-topic"
        title="{{ pathToTitle() }}"
      ></app-bs-title>
      <app-bs-text
        class="description-topic"
        text="{{ pathToDescription() }}"
      ></app-bs-text>
    </div>
  </div>
</a>
