.container-card {
    background-color: var(--red-dark);
    overflow: hidden;
    height: 260px;
    width: 240px;
    border-radius: var(--border-radius);
}

.container-card-text {
    padding-left: 12px;
    
}

a {
    all: unset;
    cursor: pointer;
}

.title-topic{
    color: var(--white);
}

// .description-topic{color: var(--white);}