<app-bs-progress-bar progress="{{ currentProgress() }}"></app-bs-progress-bar>
<!-- Dynamic Content -->
@for (obj of currentPageObjects; track obj.key) { @switch (obj.type) {
<!-- Heading Component -->
@case ('heading') {
<app-bs-heading
  heading="{{ currentPathToPage() + '.' + obj.key }}"
></app-bs-heading>
}
<!-- Text Component -->
@case ('text') {
<app-bs-text text="{{ currentPathToPage() + '.' + obj.key }}"></app-bs-text>
<!-- Rive Component -->
} @case ('rive') {
<app-bs-rive
  size="{{ obj.value.size }}"
  src="{{ obj.value.src }}"
  [stateMachines]="['State Machine 1']"
></app-bs-rive>
<!-- Rive Text -->
} @case ('rive-text') {
<app-bs-rive-text
  src="{{ obj.value.src }}"
  text="{{ obj.value.text }}"
></app-bs-rive-text>
<!-- Link Component -->
} @case ('link') {
<app-bs-link
  pathToLink="{{ `${currentPathToPage()}.${obj.key}`}}"
></app-bs-link>
}} }
<!-- Buttons -->
<div class="container-buttons">
  @if(currentPage() > 0) {
  <app-bs-button
    text="{{ pathToButtonBackwards() }}"
    [isLarge]="true"
    (click)="previousPage()"
  ></app-bs-button>
  }
  <app-bs-button
    text="{{ pathToButtonForward() }}"
    [isLarge]="true"
    (click)="nextPage()"
  ></app-bs-button>
</div>
