<div class="questions-wrapper">
  <div class="header-spacer-container"></div>
  <mat-list>
    @for(id of questionPages[currentPageIdx]; let j = $index; track j) {
    <mat-list-item class="custom-list-item">
      <button class="questions-button" (click)="openDialog(id)">
        <div class="question-wrapper">
          <app-bs-heading
            [heading]="
              pathToQuestions() + '.question_' + id + '.bs_heading_question'
            "
          ></app-bs-heading>
        </div>
      </button>
    </mat-list-item>
    <mat-divider class="custom-divider"></mat-divider>
    }
  </mat-list>
</div>
<div class="button-wrapper">
  @for(page of questionPages; let i = $index; track i) {
  <button class="button-pages" (click)="setPage(i)">{{ i + 1 }}</button>
  }
</div>
<div class="footer-spacer-container"></div>
