.button-small {
    all: unset;
    height: 28px;
    width: 110px;
    border-radius: var(--border-radius);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--font-size-subtext);
}

// Storybutton (Class needs to be added in the Parentcomponent)
::ng-deep .story-button .button-small {
    background-color: var(--green);
    color: var(--white);
  }

.button-large {
    all: unset;
    background-color: aquamarine;
    height: 48px;
    width: 140px;
    border-radius: var(--border-radius);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--font-size-subtext);
}

.wrapper-text-above{
    background-color: aliceblue;
    height: 3dvh;
}

.text-above {
    color: purple;
}