<!-- Without Routing -->
@if(!activatedRouterlink()){ @if(!isLarge()){
<div class="wrapper-button">
  <div class="wrapper-text-above">
    @if(hasTextAbove()){
    <p class="text-above">{{ textAbove() | translate }}</p>
    }
  </div>
  <button class="button-small">{{ text() | translate }}</button>
</div>
} @if (isLarge()) {
<div class="wrapper-button">
  <div class="wrapper-text-above">
    @if(hasTextAbove()){
    <p class="text-above">{{ textAbove() | translate }}</p>
    }
  </div>
  <button class="button-large">{{ text() | translate }}</button>
</div>
}}
<!-- With Routing -->
@if(activatedRouterlink()){ @if(!isLarge()){
<div class="wrapper-button">
  <!-- <div class="wrapper-text-above"></div> -->
  <button [routerLink]="customRouterLink()" class="button-small">
    {{ text() | translate }}
  </button>
</div>
} @if (isLarge()) {
<div class="wrapper-button">
  <div class="wrapper-text-above"></div>
  <button [routerLink]="customRouterLink()" class="button-large">
    {{ text() | translate }}
  </button>
</div>
} }
