<h1>{{ localPathToQuestion | translate }}</h1>
<mat-dialog-content class="dialog">
  <!-- Answer 1 -->
  @if (localQuestionId == '1') {
  <!-- Fix later -->
  <app-bs-bullets></app-bs-bullets>
  <!-- Answer 2 -->
  } @else if (localQuestionId == '2') {
  <app-bs-text text="{{ localPathToAnswer + '.bs_text_1' }}"></app-bs-text>
  <!-- Answer 3 -->
  } @else if (localQuestionId == '3') {
  <app-bs-text text="{{ localPathToAnswer + '.bs_text_1' }}"></app-bs-text>
  <!-- Fix later -->
  <app-bs-bullets></app-bs-bullets>
  <!-- Answer 4 -->
  } @else if (localQuestionId == '4') {
  <app-bs-text text="{{ localPathToAnswer + '.bs_text_1' }}"></app-bs-text>
  <!-- Answer 5 -->
  } @else if (localQuestionId == '5') {
  <app-bs-heading
    heading="{{ localPathToAnswer + '.bs_heading_1' }}"
  ></app-bs-heading>
  <app-bs-text text="{{ localPathToAnswer + '.bs_text_1' }}"></app-bs-text>
  <app-bs-heading
    heading="{{ localPathToAnswer + '.bs_heading_2' }}"
  ></app-bs-heading>
  <app-bs-text text="{{ localPathToAnswer + '.bs_text_2' }}"></app-bs-text>
  <app-bs-bullets></app-bs-bullets>
  <!-- Answer 6 -->
  }@else if (localQuestionId == '6') {
  <app-bs-text text="{{ localPathToAnswer + '.bs_text_1' }}"></app-bs-text>
  <!-- Answer 7 -->
  }@else if (localQuestionId == '7') {
  <app-bs-text text="{{ localPathToAnswer + '.bs_text_1' }}"></app-bs-text>
  <!-- Answer 8 -->
  }@else if (localQuestionId == '8') {
  <app-bs-text text="{{ localPathToAnswer + '.bs_text_1' }}"></app-bs-text>
  <app-bs-text text="{{ localPathToAnswer + '.bs_text_2' }}"></app-bs-text>
  <!-- Answer 9 -->
  }@else if (localQuestionId == '9') {
  <!-- Answer 10 -->
  } @else if (localQuestionId == '10') {
  <app-bs-text text="{{ localPathToAnswer + '.bs_text_1' }}"></app-bs-text>
  <app-bs-text text="{{ localPathToAnswer + '.bs_text_2' }}"></app-bs-text>
  <!-- Fallback -->
  } @else {
  <p>Ups für Frage {{ localQuestionId }} gibt es noch keine Antwort.</p>
  }
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-dialog-close>Schliessen</button>
</mat-dialog-actions>
