.root {
    height: 93dvh;
    background-color: var(--white);
}

.wrapper-body {
    padding-top: var(--padding-border);
    padding-left: var(--padding-border);
    padding-right: var(--padding-border);
}

.wrapper-text {
    // background-color: yellow;
    padding-bottom: 1rem;
}