// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
// @use '@angular/material' as mat;


// html {
//   @include mat.theme((
//     color: (
//       theme-type: light,
//       primary: mat.$azure-palette,
//       tertiary: mat.$blue-palette,
//     ),
//     density: 0,
//   ));
// }/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;
@import url('https://fonts.googleapis.com/css2?family=Signika:wght@300..700&display=swap');

html, body { height: 100%; }
body { margin: 0; font-family: "Signika", }

// Global Variables
:root {
  // Colors
  --red-dark: #2c1011;
  --red-bright: #571e23;
  --red-icons: #cd9393;
  --grey: #e1e1e1;
  --white: #faf6f1;
  --black: #1a1a1a;
  --green: #1c8a00;

  // Shadow (missing color)
  --shadow: 0 4px 8px;  // x-offset, y-offset, blur

  // Padding
  --padding-border: 28px;

  // Fontfamily
  --font-family: "Signika";

  // Fontsize
  --font-size-title: 32px;
  --font-size-text: 18px;
  --font-size-subtext: 16px;

  // Layout
  --border-radius: 12px;
}

// Question Dialog (Global da Angular Material)
.mat-mdc-dialog-surface {
  // max-height: 80vh !important;
  // overflow: auto !important;
  border-radius: 32px !important;
  // padding: 1.5rem !important;
  padding-left: 1.5rem !important;
  padding-right: 1.5rem !important;
  padding-top: 1.5rem !important;
  background-color: var(--white) !important; 
}

.mat-mdc-dialog-content {
  // background-color: #91e8d5 !important; 
  padding: 0 !important;
}

// Progress Bar
:root {
  @include mat.progress-bar-overrides((
    active-indicator-height: 1rem,
    active-indicator-color: var(--black),
    track-color: var(--grey),
    track-height: 1rem,
    // track-shape: round,
  ));
}
